header {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
  position: relative;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }
  header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    color: #222222;
    border-left: 3px solid #23fd9e;
    line-height: 3em;
    padding: 0 1em;
    margin: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s; }
    header h1 a {
      color: #222222;
      text-decoration: none; }
  header .hamburgerMenu {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 18px; }
    header .hamburgerMenu:hover {
      cursor: pointer; }
      header .hamburgerMenu:hover .line {
        background-color: #23fd9e; }
    header .hamburgerMenu .line {
      width: 30px;
      height: 2px;
      background-color: #222222;
      display: block;
      position: relative;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear; }
      header .hamburgerMenu .line:hover {
        cursor: pointer; }
  header .line-1 {
    top: 0px; }
  header .line-2 {
    top: 6px; }
  header .line-3 {
    top: 12px; }
  header .hamburgerMenu.open .line-1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    left: 0px; }
  header .hamburgerMenu.open .line-2 {
    width: 0%;
    opacity: 0; }
  header .hamburgerMenu.open .line-3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 4px;
    left: 0px; }

.intro-heading {
  color: #222222;
  line-height: 52px;
  letter-spacing: -0.5px;
  text-transform: none;
  font-size: 35px;
  word-spacing: 0px;
  width: 83%;
  font-weight: 400;
  font-family: 'Work Sans', Open Sans, Arial, sans-serif;
  margin: 0px 0 20px 0; }

.intro-copy {
  font-family: 'Hind', sans-serif;
  color: #808080;
  line-height: 28px;
  width: 83%;
  margin: 0px 0 0px 0; }

.intro-wrapper {
  margin: 60px 0 50px 0; }

.maincontent {
  width: calc(100% - 40px);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 0px;
  padding: 0 20px;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .maincontent .home-slider {
    width: 100%; }
    .maincontent .home-slider img {
      width: 100%; }

.sideMenuSlide {
  -webkit-transform: translate3d(-320px, 0, 0);
  -moz-transform: translate3d(-320px, 0, 0);
  -o-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0); }

.sideMenu {
  top: 0;
  right: -320px;
  position: fixed;
  width: calc(320px - 100px);
  z-index: 15;
  height: calc(100% - 100px);
  background-color: #23fd9e;
  padding: 50px;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .sideMenu h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    color: #222222;
    border-left: 3px solid #222222;
    line-height: 3em;
    padding: 0 1em;
    margin: 0;
    opacity: 0; }
  .sideMenu ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; }
    .sideMenu ul li {
      list-style-type: none;
      line-height: 50px;
      font-family: 'Work Sans', Open Sans, Arial, sans-serif;
      font-size: 26px; }
      .sideMenu ul li a {
        color: #222222;
        text-decoration: none; }
  .sideMenu .contact-info {
    position: absolute;
    bottom: 50px;
    opacity: 0; }
    .sideMenu .contact-info p:first-of-type {
      font-family: 'Roboto', sans-serif;
      line-height: 19px;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px; }
    .sideMenu .contact-info p {
      font-family: 'Work Sans', Open Sans, Arial, sans-serif;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 1px;
      font-weight: 400;
      color: #222222;
      margin: 0; }
      .sideMenu .contact-info p a {
        color: #222222;
        text-decoration: none; }

footer {
  height: 200px;
  background-color: #ebebeb; }

.fadeIn {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 99999999; }

.legal-wrapper p {
  text-align: center;
  font-family: 'Hind', sans-serif;
  color: #808080;
  line-height: 28px;
  font-size: 12px; }

.clear {
  clear: both; }

.projects-grid {
  margin: 0 -20px; }

.thumb-wrapper {
  float: left;
  position: relative;
  margin: 0 20px;
  margin-bottom: 40px;
  width: calc(33.33% - 40px); }
  .thumb-wrapper a {
    text-decoration: none; }
  .thumb-wrapper:hover {
    cursor: pointer; }
    .thumb-wrapper:hover .hover {
      box-shadow: inset 0 0 0 10px #23fd9e; }
  .thumb-wrapper .img-wrapper {
    position: relative;
    overflow: hidden; }
  .thumb-wrapper .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 0px #23fd9e;
    transition: box-shadow 0.1s ease-in-out;
    z-index: 2; }
  .thumb-wrapper img {
    width: 100%;
    transition: all .2s ease-in-out;
    z-index: 1;
    position: relative; }
  .thumb-wrapper .copy-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    /*
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
            -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    */ }
    .thumb-wrapper .copy-wrapper p {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      line-height: 30px;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #222222;
      z-index: 10; }

.interior-project-image {
  width: 100%;
  margin-bottom: 40px; }

.project-image-wrapper {
  margin: 0 -20px; }

.one-column {
  width: calc(100% - 40px);
  padding: 0 20px;
  float: left; }

.two-column {
  width: calc(50% - 40px);
  padding: 0 20px;
  float: left; }

.three-column {
  width: calc(33.33% - 40px);
  padding: 0 20px;
  float: left; }

.border-column {
  border: 1px solid #d4d4d4;
  width: calc(100% - 82px);
  margin: 0 20px 40px 20px;
  padding: 20px; }
  .border-column .interior-project-image {
    margin-bottom: 0; }

.details {
  width: 100%;
  position: relative;
  margin: 50px 0 90px 0; }
  .details .details-inner {
    float: left;
    width: 20%; }
    .details .details-inner span {
      display: block; }
    .details .details-inner h6 {
      font-family: 'Work Sans', Open Sans, Arial, sans-serif;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: -0.5px;
      text-transform: none;
      font-size: 16px;
      margin-bottom: 5px;
      margin-top: 0;
      display: block;
      color: #222222; }
    .details .details-inner p {
      margin-bottom: 0;
      line-height: 20px;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 0px;
      color: #808080;
      font-family: 'Hind', sans-serif;
      margin: 0; }

@media only screen and (max-width: 1024px) {
  .thumb-wrapper {
    width: calc(50% - 40px); } }
@media only screen and (max-width: 1000px) {
  .details .details-inner {
    float: none;
    width: 100%;
    margin-bottom: 30px; } }
@media only screen and (max-width: 768px) {
  header {
    margin-top: 30px; }
    header h2 {
      font-size: 26px;
      line-height: 42px; }

  .intro-heading,
  .intro-copy {
    width: 100%; }

  .three-column,
  .two-column {
    float: none;
    width: calc(100% - 40px); } }
@media only screen and (max-width: 414px) {
  .thumb-wrapper {
    width: calc(100% - 40px); }

  .homepage-main-content .intro-heading {
    line-height: 43px;
    font-size: 30px; } }
