@media only screen and (max-width: 1024px){
	
		.thumb-wrapper{
		    width: calc(50% - 40px);
	}
	
}

@media only screen and (max-width: 768px){

	header{
		
		margin-top: 30px;
	
	
		h2 {
		    font-size: 26px;
		    line-height: 42px;
		}
	}
	
		.thumb-wrapper{
		    width: calc(100% - 40px);
	}
	
	.intro-heading,
	.intro-copy{
		width: 100%;
	}
	
	.two-column{
		float: none;
		width: calc(100% - 40px); 	
	}
}